accelerate==0.14.0
aiohttp==3.8.1
aiosignal==1.2.0
altair==4.2.0
antlr4-python3-runtime==4.8
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
asttokens==2.0.5
asyml-utilities==0.0.2
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
backports.zoneinfo==0.2.1
base58==2.1.1
beautifulsoup4==4.11.1
bert-score==0.3.11
black==21.12b0
bleach==5.0.1
blinker==1.5
Brotli==1.0.9
cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
click==7.1.2
cloudpickle==2.1.0
cma==3.2.2
colorama==0.4.5
cycler==0.11.0
datasets==2.4.0
debugpy==1.6.2
decorator==5.1.1
deepspeed==0.6.7
defusedxml==0.7.1
dill==0.3.5.1
docker-pycreds==0.4.0
emoji==2.0.0
entrypoints==0.4
et-xmlfile==1.1.0
evaluate==0.2.2
executing==0.9.1
fastjsonschema==2.16.1
FastNLP==0.7.0
filelock==3.7.1
flake8==5.0.0
fonttools==4.34.4
frozenlist==1.3.0
fsspec==2022.7.1
funcsigs==1.0.2
gitdb==4.0.9
GitPython==3.1.27
gym==0.21.0
gym-notices==0.0.7
hjson==3.0.2
huggingface-hub==0.11.1
hydra-core==1.0.7
idna==3.3
importlib-metadata==4.12.0
importlib-resources==5.9.0
inflate64==0.1.4
iniconfig==1.1.1
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
isort==5.8.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.8.0
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
kiwisolver==1.4.4
lxml==4.9.1
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mccabe==0.7.0
mistune==0.8.4
mpi4py==3.1.3
multidict==6.0.2
multiprocess==0.70.13
multivolumefile==0.2.3
mypy-extensions==0.4.3
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
ninja==1.10.2.3
nltk==3.7
notebook==6.4.12
numpy==1.23.1
omegaconf==2.0.6
openai==0.22.0
openpyxl==3.0.10
packaging==21.3
pandas==1.4.3
pandas-stubs==1.4.3.220724
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==2.5.2
plotly==5.9.0
pluggy==1.0.0
portalocker==2.5.1
prettytable==3.4.1
prometheus-client==0.14.1
promise==2.3
prompt-toolkit==3.0.30
promptsource==0.2.3
protobuf==3.20.1
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py-cpuinfo==8.0.0
py7zr==0.19.0
pyarrow==8.0.0
pybcj==0.6.1
pycodestyle==2.9.0
pycparser==2.21
pycryptodomex==3.15.0
pydantic==1.9.1
pydeck==0.7.1
pyflakes==2.5.0
Pygments==2.12.0
pyparsing==3.0.9
pyppmd==0.18.3
pyrsistent==0.18.1
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyzmq==23.2.0
pyzstd==0.15.2
regex==2022.7.25
requests==2.28.1
responses==0.18.0
sacrebleu==2.2.0
scikit-learn==1.1.2
scipy==1.9.1
Send2Trash==1.8.0
sentencepiece==0.1.97
sentry-sdk==1.9.5
setproctitle==1.3.2
shortuuid==1.0.9
six==1.16.0
sklearn==0.0
smmap==5.0.0
soupsieve==2.3.2.post1
stable-baselines3==1.6.0
stack-data==0.3.0
stanza==1.4.0
streamlit==0.82.0
supar==1.1.4
tabulate==0.8.10
tenacity==8.0.1
terminado==0.15.0
texar-pytorch==0.1.4
texttable==1.6.4
threadpoolctl==3.1.0
tinycss2==1.1.1
tokenizers==0.12.1
toml==0.10.2
tomli==1.2.3
toolz==0.12.0
torch==1.12.0+cu116
torchaudio==0.12.0+cu116
torchvision==0.13.0+cu116
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
transformers==4.22.0
types-pytz==2022.1.2
typing_extensions==4.3.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.11
validators==0.20.0
wandb==0.13.1
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.6.1
xxhash==3.0.0
yarl==1.7.2
zipp==3.8.1
